
    /* header */
    header{
        width: 100%;
        min-height: 275px;
        /* padding-top: 3em; */
    }
    #home{
        background: no-repeat lightgrey url(images/cliff_ocean.jpg);
        background-size: 100% 400px;
    }
    .main-header{
        /* background-color: rgba(38, 41, 61, 0.7); */
        max-width: 700px;
        margin: 2em auto 0 auto;
        min-height: 100px;
        height: 100px;
    }
    .main-header .logo img{
        width: 100px;
        height: 100px;
        margin: 0 2rem 0 0;
        float: left;
    }
     /* navigation */
    /* .main-menu{
        margin-left: 227px;
        font-weight: 400;
    } */
    .bg-dark {
        background-color: rgba(38, 41, 61, 0.7) !important;
    }
    .main-menu ul li {
        list-style-type: none;
        display: inline-block;
        /* float: left; */
        padding-left: 25px;
        padding-right: 25px;
        border-left: 1px solid rgba(202, 204, 202, 0.6);
        line-height: 100px;
        text-transform: uppercase;
        font-size: 14px;
    }
    .main-menu ul li a{
        text-decoration: none;
        color:  rgb(255, 255, 255);
    }
    .main-menu ul li a:hover{
        color: #92d034;
    }
    .main-menu ul li.active{
        background: #92d034;
        border: none;
    }
    .main-menu ul li.active a{
        color:#fff
    }
    /* main */
    main{
        font-family: Arial, Helvetica, sans-serif;
        margin: 50px;
    }
    main h1{
        color: #92d034;
    }
    section{
        width: 100%;
        background-color: #4288c3;
    }
    section #partners{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2em 0;
        margin: 0 auto;
        text-align: center;
        max-width: 1200px;
    }
    section #partners .partner{
        display: inline-block;
        margin: 0.75em auto; 
        padding: 1.3em 1.5em;
        background-color: #fff;
        border-radius: 50%;
    }
    section #partners .partner img{
        width:90px;
        height: 90px;
    }
    /* footer */
    footer{
        width: 100%;
        height: 155px;
        padding-bottom: 1em;
        background-color: #ecfab8;
    }
    footer #nondisclaimer .copy{
        padding: 3.5em 3.5em 3.5em 13em;
        float: left;
        font-size: 0.9em;
    }
    footer #nondisclaimer .social{
        padding: 2.5em;
        margin-right: 9.25em;
        float: right;
    }
    footer #disclaimer{
        clear: both;
    }
    footer #disclaimer p{
        font-size: 0.8em;
        text-align: center;
    }
    footer #nondisclaimer .social .fab{
      padding: 12px;
      font-size: 15px;
      width: 37px;
      text-align: center;
      text-decoration: none;
      margin: 0 4px;
      border-radius: 50%;
    }
    footer #nondisclaimer .social .fab:hover{
        opacity: 0.7;
    }
    footer #nondisclaimer .social .fa-facebook{
       background:#3b5998;
       color: white;
    }
    footer #nondisclaimer .social .fa-instagram{
       background:#55acee;
       color: white;
    }
    footer #nondisclaimer .social .fa-twitter{
       background:#126688;
       color: white;
    }
    /* activities css */
    #activities{
        background: no-repeat lightgrey url(images/runfly.jpg);
        background-size: 100% 400px;
    }
    table{
        width: 1000px;
        margin: 4em auto 0 auto;
    }
    caption{
        background: #852b1b;
        height: 55px;
        color: #fff;
        font-size: 1.3em;
        font-weight: bold;
        padding-top: 1em;
        line-height: 1;
        caption-side: top;
        text-align: center;
    }
    thead{
        background: #bde1ff;
    }
    tbody{
        background: #eeffe6;
        text-align: center;
    }
    th, td{
        width: 225px;
        height: 75px;
        vertical-align: middle;
        border: 1px solid #852b1b;
    }
    th:first-child{
        width: 125px;
        height: 50px;
        background: #4977d1;
        color: #fff;
    }
    td:first-child{
        font-weight: bold;
        background: #bde1ff;
        color: black;
    }
    .highlight { 
        color:white; 
        background: #92d034;
        cursor: pointer;
    }
    #activities main #displaySelected{
        visibility: hidden;
        margin: 0 auto;
        width: 600px;
        border: 2px solid #92d034;
        padding: 0.75em;
    }
    #activities main #displaySelected #result, #activities main #displaySelected #sendinfo{
        display: inline-block;
        margin: 0;
    }
    #activities main #result{
        min-height: 50px;
        width: 300px;
        padding: 0;
    }
    #activities main #result h4{
        margin-bottom: 1em;
        font-size: 1.15em;
    }
    #activities main #displaySelected #sendinfo input[type="email"]{
        width: 200px;
    }
    /* contact css */
    .textbox{
        width: 400px;
    }
    #contact{
        background: no-repeat lightgrey url(images/cliff_rock.jpg);
        background-size: 100% 400px;
    }
    .contactinfo{
        margin: 10px;
    }
    .phone{
        margin-bottom: 10px;
    }
    .phoneSpan{
        font-weight: bold;
    }
    .emailSpan{
        font-weight: bold;
    }
    legend{
        color: #4977D1;
        text-transform: uppercase;
        font-weight: bold;
    }
    label{
        display: block;
        margin: 15px 0 0 0;
        font-weight: bold;
    }
    input{
        width: 400px;
    }
    input[type="radio"]{
        width: 25px;
        display: inline;
    }
    .radioLabel{
        display: inline-block;
    }
    select{
        width: 150px;
        text-align: center;
    }
    .selectLabel{
        display: inline-block
    }
    textarea{
        width: 400px;
        height: 100px;
    }
    #submit{
        display: block;
        margin: 20px 0 10px 0;
        width: 125px;
        padding: 10px 25px 10px 25px;
        /* background: #4977D1; */
        border: none;
        color: #fff;
        margin-left: 300px;
    }
    /* cliffs css */
    #cliffs{
        background: no-repeat lightgrey url(images/forest_cliff.jpg);
        background-size: 100% 400px;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .wrapper > div {
        margin: 10px;
        text-align: center;
        flex: 1 0 calc(50% - 20px); /* Two items per row with some spacing */
    }
    
    .Westcliff img,
.northCliff img,
.eastCliff img,
.sothCliff img {
    width: 100%;
    height: auto;
    display: block;
}
    .headingStyle{
        background: #852b1b;
        color: #fff;
        font-size: 1.3em;
        font-weight: bold;
        padding: 10px;
         margin:0;
    }
    .lightbox-toggle {
        color: black;
    }
      
    .backdrop {
        z-index: 1;
        opacity: .0;
        filter: alpha(opacity=0);
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #000;
    }
    .lightbox {
        z-index: 2;
        position: fixed;
        opacity: 1;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        width: 600px;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        -moz-box-shadow: 0px 0px 5px #444444;
        -webkit-box-shadow: 0px 0px 5px #444444;
        box-shadow: 0px 0px 5px #444444;
    }
    * {
        z-index: 3;
    }
    .close {
        float: right;
        cursor: pointer;
    }
    .lightbox img {
        width:100%;
    }
    /* timer css */
    #timeofday{
        font-family: Arial, Helvetica, sans-serif;
        color: #3a3a3a;
        font-size: 14px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        line-height: 45px;
        background-image: linear-gradient(0deg, rgba(251,215,139,1) 0%, rgba(118,213,245,1) 100%);
    }
    #clock{
        color: #125688;
    }
    /* random code css */
    .randomCode{
      margin-left: 99px;
    }
    .randomCode input{
        width: 165px;
        padding: 5px;
    }
    #codes{
        display: inline-block;
        padding: 13px;
        text-align: center;
        background-color: #A9A9A9;
    }
    
    /* media queries */

/* Media Query for extra small screens */




#partners .partner img {
    border-radius: 50%; 
    max-width: 100%; 
    margin: 10px; 
}
@media (min-width: 576px) {
    #partners .partner {
        width: calc(50% - 20px); 
    }
}

@media (min-width: 768px) {
    #partners .partner {
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 992px) {
    #partners .partner {
        width: calc(16.66% - 20px);
    }
}